* {
    margin: 0;
    box-sizing: border-box;
}

.fon {
    width: 100px;
    height: 50px; 
}

.color {
    display: flex;
    justify-content: center;
}

.main {
    width: 500px;
    height: 700px;
    border: 2px solid black;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    border-radius: 30px;
}

.input {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 22px;
    border-radius: 30px;
}

.add {
    margin-top: 20px;
    margin-left: 5px;
    border-radius: 5px;
}

.select {
    margin-top: 20px;
    margin-left: 5px;
    border-radius: 5px;
}

.task {
    display: flex;
}