html {
    box-sizing: border-box;
    background:#ffc600;
    font-family:'helvetica neue';
    font-size: 20px;
    font-weight: 200;
}
body {
    margin: 0;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.twiks {
    min-height:100vh;
    overflow: hidden;
    display: flex;
}

.twik {
    background:#6B0F9C;
    box-shadow:inset 0 0 0 5px rgba(255,255,255,0.1);
    color:white;
    text-align: center;
    align-items:center;
    transition:
            font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
            flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
            background 0.2s;
    font-size: 20px;
    background-size:cover;
    background-position:center;
    flex: 1;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

/* Flex Items */
.twik > * {
    margin:0;
    width: 100%;
    transition:transform 0.5s;
    flex: 1 0 auto;
    display:flex;
    justify-content: center;
    align-items: center;
}

.twik > *:first-child { transform: translateY(-100%); }
.twik.open-active > *:first-child { transform: translateY(0); }
.twik > *:last-child { transform: translateY(100%); }
.twik.open-active > *:last-child { transform: translateY(0); }

.twik p {
    text-transform: uppercase;
    font-family: 'Amatic SC', cursive;
    text-shadow:0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
    font-size: 2em;
}
.twik p:nth-child(2) {
    font-size: 4em;
}

.twik.open {
    flex: 5;
    font-size:40px;
    background-size: cover;
}

.twik1 {
    background: url("img/1.jpg") no-repeat center;
}

.twik2 {
    background: url("img/2.jpg") no-repeat center;
}

.twik3 {
    background: url("img/3.jpg") no-repeat center;
}
.twik4 {
    background: url("img/4.jpg") no-repeat center;
}
.twik5 {
    background: url("img/5.jpg") no-repeat center;
}
