body {
  margin: 0;
  box-sizing: border-box;

}

.menu {
  position: fixed;
  background-color: rgb(58, 58, 58);
  height: 100vh;
  width: 10rem;
}

.logo {
  display: block;
  padding-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  height: 5rem;
  width: 5rem;
}

.but {
  height: 5vh;
  width: 10rem;
  font-size: 1.5rem;
  background-color: rgb(58, 58, 58);
  color: white;
}

.but:hover {
  background-color: rgb(111, 111, 111);
}

.title {
  margin-left: 12rem;
  padding-top: 1rem;
  font-size: 3rem;
  text-align: center;
}

.infoBar {
  display: flex;
  justify-content: space-evenly;
  margin-left: 12rem;
  padding-top: 1rem;
}

.infoBox {
  height: 5rem;
  width: 10rem;
  border-radius: 5%;
  background-color: rgb(141, 141, 141);
  text-align: center;
  font-size: 2rem;
  color: white;
}